# vim:ft=snippets:
snippet "sco?r?e?" "adding mutt-scoring" !br
score ~${1:f}'${2}' =${3}                                ${0}# ${5:description}
endsnippet
snippet "(filter|query)( \S+)" "Define Newsbeuter-Filter" !br
"query:${1:filter name}: tags =~ \"999. $1\" and tags =~ \"${2:pattern}\"" ${0}"`!p snip.rv = match.group(2) if match.group(2) is not None else 00`. $1 :: $2"
endsnippet
