extends plaintex, texmath, textmpl
./plaintex.snippets
./texmath.snippets
./textmpl.snippets

snippet thisisonlyforconfigurationalreasonsandyouhardlyneverwilltriggerthissnippet "config" !b
echo thisisonlyforconfigurationalreasonsandyouhardlyneverwilltriggerthissnippet
endsnippet
